<div class="btn-group pull-left">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-pencil icon-white"></i>
    Create new
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% Post.subclasses.each do |post_type| %>
      <li>
        <a href="/admin/posts/new/<%= post_type.to_s.downcase %>">
          <%= post_type.to_s %>
        </a>
      </li>
    <% end %>
  </ul>
</div>

<div class="pull-right">
  <form class="form-inline" action="<%= url("/", false) %>" method="get">
    <input type="text" name="query" autocomplete="off" value="<%= params[:query]%>">
    <button type="submit" class="btn">Search</button>
  </form>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Type</th>
      <th>Status</th>
      <th>Author</th>
      <th>Created At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <a href="/admin/posts/<%= post.slug %>/edit">
            <%= post.title %>
          </a>
        </td>
        <td><%= post.slug %></td>
        <td><%= post._type %></td>
        <td>
          <% if post.published? %>
            <span class="label label-success">Published</span>
          <% else %>
            <span class="label">Draft</span>
          <% end %>
        </td>
        <td><%= post.user.username %></td>
        <td><%= post.created_at.strftime("%b %e, %Y @ %R") %></td>
        <td>
          <a class="btn btn-danger btn-mini" href="/admin/posts/<%= post.slug %>/delete">Delete</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination(@posts) %>
