<h4>
    <a href="<%= post_url(post) %>">
        <%= post.title %>
    </a>
</h4>

<span class="post-meta">
    <%= post._type %> ~ <%= post.created_at.strftime("%d %b %Y ~ %l:%M %P") %>
</span>

<%= post.description_html %>

<a href="<%= post.url %>" class="visit">Visit</a>
