<h2>
    <a href="<%= post_url(post) %>">
        <%= post.title %>
    </a>
</h2>

<span class="date">
    <span class="day"><%= post.created_at.day %></span>
    <span class="month"><%= post.created_at.strftime('%b') %></span>
</span>

<% if post.excerpt_html %>
  <%= post.excerpt_html %>
  <a href="<%= post_url(post) %>" class="visit">More...</a>
<% else %>
  <%= post.body_html %>
<% end %>
